body{
    background-color: #47B5FF;
}

h1{
    font-family: 'League Gothic', sans-serif;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: 06283D;
}

h3{
    font-family: 'Quicksand', sans-serif;
    color: #DFF6FF;
}

h4{
    color: 06283D;
}

ul li{
    font-family: 'Lora', serif;
    color: DFF6FF;
}

#imagem{
    width: 500px;
    height: 650px;
    border-radius: 5%;
}

#texto, #img{
    display: inline-block;
}
